@using Client.Models

@model IEnumerable<ShelterDTO>

    @{
        ViewBag.Title = "Shelter list";
        Layout = "_Layout";
    }

    <div class="container">
        <div class="row">
            <div class="col">
                ID
            </div>
            <div class="col">
                Name
            </div>
            <div class="col">
                Address
            </div>
        </div>
        @foreach (ShelterDTO shelter in Model)
        {
            <div class="row">
                <div class="col">
                    @shelter.Id
                </div>
                <div class="col">
                    @shelter.Name
                </div>
                <div class="col">
                    @shelter.Address
                </div>

            </div>
        }
    </div>
